In [4]:
import pandas as pd
from tensorflow.keras.preprocessing.text import Tokenizer

In [3]:
data=pd.read_csv('DataSet.csv')
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(data['Message'])

In [11]:
seq=tokenizer.texts_to_sequences(data['Message'])

In [20]:
maxlen=max(len(x)for x in seq)
maxlen

189

In [23]:
len(tokenizer.word_index)

9004

In [28]:
data['label']=[int(data['Category'][i]=='spam') for i in range(len(data['Category']))]
data.head()

  Category                                            Message  label
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0